body{
    background-image: url("../img/chemin.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.photo_colisée{
    border-radius: 5%;
    width: 15%;
}
.photo_Louvre{
    border-radius: 5%;
    width: 15%;
}
.photo_Cité_interdite_de_Pékin{
    border-radius: 5%;
    width: 15%;
}

header{
    font-size: 150%;
    padding: 1%;
  background-color: black;

}